.Dropdown{
  width: 202px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.57);
  text-align: center;
}
.Button_Lecture{
  width: 120px; height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  background-color: #1F3468;
  margin: 0 10px 5px 10px;
}
.container_body{
  width: 1050px;
  margin: 30px auto 60px;
}
.table_body{
  width: 1042px;
  background-color: rgba(73, 82, 169, 0.1);
  border-radius: 36px;
  padding: 28px 36.5px 28px 36.5px;
  margin-top: 22px;
}
.thead{
  display: inline-block;
  color: #403E98;
  font-size: 23px;
  font-weight: 900;
  padding-bottom: 18.5px;
  margin-top: 22px;
}
.table_tr{
  background-color: white;
  border: solid 0.1px;
  border-color: #C0C0C0;
  border-radius: 10px;
  height: 100px;
  padding: 36px 0 36px 0;
  margin: 7.5px 0 7.5px 0;
}
.table_tr:hover{
  border-color: #403E98;
  cursor: pointer;
}
.table_td{
  display: inline-block;
  font-size: 23px;
}
.Lecture_List_Input{
  margin-top: 10px;
  display: inline-block;
  width: 120px; height: 50px;  
  font-size: 20px;
}




.Lecture_Write_body{
  width: 1042px;
  margin: 41px auto 100px;
}
.Button_Lecture_Write{
  width: 120px; height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  background-color: #1F3468;
  margin-left: 20px;
}
.Lecture_Write_Container{
  background-color: rgba(194, 194, 194, 0.25);
  border-radius: 36px;
  margin-top: 30px;
  padding: 40px 0 40px 36.5px;
}
.Lecture_Write_header{
  margin-right: 874px;
  font-size: 24px;
  font-weight: 900;
}
.Lecture_Write_FormGroup{
  display: inline-block;
}
.right{
  float: right;
}
.left{
  float: left;
}
.Lecture_Write_Label{
  font-size: 24px;
  margin-right: 20px;
}
.Lecture_Write_Input{
  display: inline-block;
  font-size: 24px;
  width: 322px; height: 54px;
  border-radius: 20px;
}



.LectDashboard_body{
  width: 1138px;
  margin: 0 auto;
}
.Contents_header{

}
.LectDashboard_Card{
  width: 286px;
  display: inline-block;
  margin: 20px 46px;
  cursor: pointer;
}
.LectDashboard_Card_BackColor{
  background-color: coral;
  width: 286px; height: 100px;
  border: #C0C0C0 0.5px;
  
  border-radius: 3px;
}
.LectDashboard_CardBody{
  width: 286px;
}
.LectDashboard_CardText {
  margin: 0;  
}






.Contents_Body{
  margin: 0 auto 20px;
  width: 1250px;
}
.Contents_Top_Buttons{
  cursor: pointer;
  width: 53px; height: 53px;
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  display: inline-block;
  border: solid 5px;
  border-color: #1F3468;
}
.Contents_Divs{
  width: 1100px;
  margin: 0 0 0 110px;
  display: flex;
}
.Contents_Divs_Title{
  margin: 0 0 0 20px;
}
.Contents_Divs_Button{
}








.Homework_body{
  width: 1042px; height: 600px;
  background-color: rgba(151, 152, 156, 0.1);
  padding: 50px 0;
  margin: 30px auto;
  border-radius: 20px;
}
.Homework_Form{
  width: 860px;
  margin: 0 auto;
}
.Homework_FormGrop{
  display: inline-block;
}
.Homework_Write_Label{
  font-size: 24px;
  margin-right: 0px;
}
.Homework_Write_Input{
  display: inline-block;
  height: 40px;
  font-size: 20px;
  border-radius: 15px;
}
.Button_Homework_Write{
  float: right;
  width: 120px; height: 50px;
  font-size: 24px;
  color: white;
  border-radius: 10px;
  background-color: #1F3468;
  margin-left: 20px;
}




.HomeworkSubmitList_body{
  width: 1042px;
}
.HomeworkSubmitList_Title{
  font-size: 28px;
  font-weight: 900;
}
.HomeworkSubmitList_Div_Table{
  margin: 0 auto;
  width: 1002px;
}
.HomeworkSubmitList_Table{
  margin-top: 20px;
}
.HomeworkSubmitList_Table>thead{
  font-size: 24px;
}
.HomeworkSubmitList_Table>tbody{
  font-size: 20px;
}
.HomeworkSubmitList_Div_Button{
  text-align: right;
}
.HomeworkSubmitList_Button{
  width: 120px; height: 50px;
  font-size: 20px;
  font-weight: 900;
  color: white;
  border-radius: 10px;
  background-color: #1F3468;
  margin-left: 20px;
}
.HomeworkSubmitList_Input{
  width: 80px;
}




.AttendManage_Body{
  width: 1200px;
  margin: 50px auto 50px;
}
.AttendManage_Header{
  margin: 0 0 20px 1100px;
}
.AttendManage_Header_Button{
  width: 100px;
}
.AttendManage_Table{
  overflow-x: scroll;
}
.AttendManage_Table_thead{
  white-space: nowrap;
  text-align: center;
  padding: 5px;
}
/* .AttendManage_Table > th{
  background-color: #1F3468;
  color: #ffffff;
} */
.AttendManage_Table_td{
  padding: 5px;
}
.AttendManage_Select{
  width: 55px;
  border-radius: 8px;
  border:none;
  padding: 2px 2px;
}






.ExamQuestionForm_Body{
  width: 1042px;
  margin: 40px auto;
}
.ExamQuestionForm_Body > label { 
  font-size: 20px;
}
.ExamQuestionForm_Input{
  width: 200px;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}
.ExamQuestionForm_Collapse{
  border: none !important;
  border-radius: 20px !important;
  padding: 10px 0;
}
.ExamQuestionForm_For_Div{
  background-color: rgba(194, 194, 194, 0.25);
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px 30px 20px 30px;
}
.ExamQuestionForm_For_Div > Label {
  margin: 0px 10px 0 0;
}
.ExamQuestionForm_For_Input {
  display: inline-block;
  width: 800px;
  margin-bottom: 5px;
}
.ExamQuestionForm_For_Input_Answer{
  display: inline-block;
  width: 50px;
}
.ExamQuestionForm_Button{
  margin-left: 227px;
  width: 150px; height: 50px;
  font-size: 20px;
  font-weight: 900;
  color: white;
  border-radius: 10px;
  background-color: #1F3468;
}
.ExamQuestionForm_Div_Button{
  float: right;
  width: 150px; height: 50px;
  font-size: 20px;
  font-weight: 900;
  color: white;
  border-radius: 10px;
  background-color: #1F3468;
}