/* .modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.modal>section {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #F1F2F3; */
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  /* animation: modal-show 0.3s;
  overflow: hidden;
}

.modal>section>header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #F1F2F3;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}

.modal>section>header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}

.modal>section>main {
  padding: 16px;
  display: flex; */
  /* border-bottom: 1px solid #dee2e6; */
  /* border-top: 1px solid #dee2e6; */
/* }

.modal>section>footer {
  padding: 12px 16px;
  text-align: right;
}

.modal>section>footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #606F93;
  border-radius: 5px;
  font-size: 13px;
}

.modal.openModal {
  display: flex;
  align-items: center; */
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  /* animation: modal-bg-show 0.3s;
} */

.memo {
  width: 90%;
    margin-top: 10px;
    height: 200px;
    background-color: #FCFCFC;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fc-day-sun a {
  color: red;
  text-decoration: none;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}

.fc-day-mon a, .fc-day-tue a, .fc-day-fri a, .fc-day-wed a, .fc-day-thu a{
  color:black;
  text-decoration: none;
}
.fc-event-main {
  border: none; /* 테두리 없애기 */
}