.newsBox{
    width: 615px;
    height: 200px;
    background-color: var(--maincolor6);
    border-radius: 30px 0px;
    padding:20px;
}

.newsImg{
    width: 200px;
    height: 160px;
    background-size: cover;
    border-radius: 16px 0px
}

.newsContent{
    padding: 0px 10px;
}

.headLine{
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 6px;
}

.carousel-control-prev {
    left: -5%; /* 왼쪽 화살표를 더 왼쪽으로 이동 */
}

.carousel-control-next {
    right: -5%; 
    /* 오른쪽 화살표를 더 오른쪽으로 이동 */
}

.carousel-indicators {
    margin:50px 0px 0px;
    position: relative;
}

.loginBtn{
    position: absolute;
    border-radius: 50px;
    background-color: var(--subcolor);
    color: white;
    left: 60px;
    bottom: 100px;
    width: 450px;
    height: 70px;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main-image{
    background-image: url(/public/images/background.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    filter: blur(4px);
    width: 105%;
    height: 105%;
}

.body{
    width: 100%;
    max-width: 1500px;
    height: 1500px;
    margin: 0px auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.65);
}

.secimage{
    height: 532px;
    margin: 0px auto;
    position: relative;
    background-image: url(/public/images/background.jpg);
    background-size: 100% 160%;
}

.slogan{
    font-size: 32px;
    font-weight: 900;
    color: white;
    /* display: flex; */
    margin-top: 240px;
    margin-left: 60px;
}

.tocDiv{
    position: absolute;
    bottom: -30px;
    right: 20px;
    width: 100px;
    height: 400px;
}

.calDiv{
    width: 660px;
    /* height: 500px; */
    border-radius: 15px 15px 0px 0px;
    background-color: var(--maincolor);
    margin-top: 120px;
    margin-left: 60px;
}

.ttt{
    font-size: 32px;
    font-weight: bolder;
    /* padding: 30px 0px 20px; */
    display: flex;
    margin-left: 60px;
}

/* 학사 일정 */


/* 게시판 영역 */
.tableArea {
    padding: 20px 150px;
    width: auto;
}

.searchArea {
    width: 600px;
    text-align: center;
    display: flex;
    padding: 20px;
    margin: 0px auto;
}

.search{
    height: 50px;
    width: 300px;
    margin-right: 10px;
}

.searchBtn {
    margin-right: 10px;
    background-color: rgb(31, 52, 104);
    border: none;
}

.board-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

