.tttt {
    padding: 10px;
    border-color: gray;
    width: 100%;
    border: solid 1px lightgrey;
  }
  
  .tttt th {
    background-color: #1F3468;
    color: #ffffff;
  }
  
  .tttt td{
    background-color: #e2e6f145;
  }
  .tttt tr{
    border:solid 1px lightgrey;
  }
  
  .tttt td,
  .tttt th {
    padding: 15px;
  }

  .weekBox {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid rgb(221, 221, 221);
    display: flex;
    align-items: center;
    height: 75px;
  }

  .timeBox{
    font-weight: bold;
    font-size: 23px;
    padding: 10px;
    height: 65px;
    align-items: center;
    display: flex;
    margin-left: 10px;
    border-bottom: solid 1px lightgray;
  }

  .textt{
    font-size: 19px;
    text-decoration: underline;
    color: rgb(31, 52, 104);
    cursor: pointer;
  }

  .contentBox{
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 20px 20px 0px;
  }

  .contentss{
    padding: 10px 50px;
    font-size: 20px;
    border-bottom: solid 1px lightgray;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
  }

  .conCategori{
    font-size: 18px;
    margin-left: 36px;
    color: #828282;
  }

  .lecture-card {
    width: 100%;
    height: fit-content;
    display: inline-block;
    cursor: pointer;
}

.lecture-color-card{
    background-color:#433e8d;
    width: 100%; 
    height: 88px;
    border: #C0C0C0 0.5px;
    
    border-radius: 3px;
  }
