.t {
    color:grey;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
}

.categori {
    display: flex;
    align-items: center;
    padding: 10px;
}

.box {
    padding: 30px 30px 15px;
    font-size: larger;
    border: 3px solid rgb(192, 202, 229);
    border-radius: 16px;
    MARGIN-BOTTOM: 40px;
}

.title {
    display: flex;
    margin: 10px;
    font-weight: bold;
    font-size: larger;
    text-align: left;
}
