.t {
    color:grey;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
}

.categori {
    display: flex;
    align-items: center;
    padding: 10px;
}

.box {
    padding: 30px 30px 15px;
    font-size: larger;
    border: 3px solid rgb(192, 202, 229);
    border-radius: 16px;
    margin:10px 50px 40px;;
}

.title {
    display: flex;
    margin: 10px;
    font-weight: bold;
    font-size: larger;
    text-align: left;
}

.sem {
    color:grey;
    padding: 0px 30px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.semCg{
    margin: 0px;
    color: #403E98;
    font-weight: 600;
}

.selBox{
    width: 150px;
    margin-bottom: 10px;
}
/* 
.table {
    padding: 10px;
    border-color: gray;
}

.table th {
    background-color: #1F3468;
    color: #ffffff;
}

.table td{
    background-color: #EAECF1;
    align-content: center;
    height:50px;
}

.table td,
.table th {
    padding: 15px;
    
} */

.noneData{
    padding: 30px;
    /* border: 1px solid lightgray; */
    background: #e5e5e461;
    border-radius: 16px;
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.viewDetail{
    width: 1129px;
    position: absolute;
    height: 378px;
    z-index: 999;
    opacity: 0.8;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    border-radius: 16px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.rejText{
    display: flex;
    padding: 10px 30px;
    font-size: larger;
    justify-content: flex-end;
    color: red;
}