.firstBox {
    width: 100%;
    position: relative;
    background-color: #F4F5F7;
    height: 350px;
    margin: 100px 0px 0px 60px;
    border-radius: 10px;
}

.info_back {
    position:absolute;
    width:100%;
    display:flex;
    justify-content:center;
    top:-75px;
}

.info {
    background-color:#ffffff;
    border-radius:70px;
    box-shadow: #80808054 0px 9px 5px -2px;
}

.iconBtn {
    height: 55px;
    width: 55px;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:70px;
    box-shadow: #80808054 0px 9px 5px -2px;
}

.horDiv {
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    align-items: center;
}

.menuT{
    /* border-right: 1px solid lightgrey; */
    background-color: #bbc1e961;
    height: 100%;
    border-radius: 16px 0px 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center
}

.menu{
    /* border-right: 1px solid black; */
    background-color: white;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.todoBox{
    background-color: rgb(223, 225, 238);
    border-radius: 16px;
    margin: 0px 55px;
    padding: 10px 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.secBox {
    width: 100%;
    position: relative;
    background-color: #F4F5F7;
    padding:40px;
    margin: 50px 0px 0px 60px;
    border-radius: 15px;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.0em;
}

.fc .fc-toolbar-title {
    font-size: revert;
    margin: 0px;
}

.fc .fc-view-harness {
    flex-grow: 1;
    position: relative;
    background-color: #ffffffe0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}


.lecture-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.lecture-card {
    width: 100%;
    height: fit-content;
    display: inline-block;
    cursor: pointer;
}

.lecture-color-card{
    background-color:#433e8d;
    width: 100%; 
    height: 88px;
    border: #C0C0C0 0.5px;
    
    border-radius: 3px;
  }
