.ccontainer {
    padding: 20px 150px 50px;
}

.actions {
    display: flex;
    justify-content: right;
}

.categori {
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.menuBox{
    display:flex;
    align-items: center;
}

.ttitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.majorTable {
    padding: 10px;
    border-color: gray;
}

.majorTable th {
    background-color: #1F3468;
    color: #ffffff;
}

.majorTable td{
    background-color: #EAECF1;
    align-content: center;
    height:50px;
}

.majorTable td,
.majorTable th {
    padding: 15px;
    /* 간격을 늘리기 위해 패딩 값을 조정합니다 */
}

.typetable {
    padding: 15px;
}

.typetable td {
    background-color: #EAECF1;
}

.typetable th{
    background-color: #0a17605e;
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    border: solid 1px lightgray;
}


.hahatable{
    width:100%;
    padding: 15px;
}

.hahatable tbody {
    background-color: #7082af1c;
}